body {
    background-color: rgb(42, 125, 184) !important;
}

.container{
    margin-top: 60px;
    max-width: 300px !important;
    background-color: white;
    border-radius: 20px;
}

.click-to-copy{
    background-color: rgb(227, 239, 62);
    border-radius: 20px;
    cursor: pointer;
}

#noRek, #noRek2{
    display: none;
}

.content-title{
    font-size: 15px;
    margin-bottom: 5px;
}